h1 {
  margin-left: 10px;
}

a {
  margin: 10px;
}

.tab-list {  
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 0 1px;
}

.tab-content {
  margin: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
}

.input {
  height:500px;
  font-size:14pt;
  font-family:monospace;
  vertical-align: top;
  max-height:800px;
  min-height:100px;
  width: 100%;
  resize: none;
  font-weight: normal;
  overflow-y: scroll;
}

.submit {
  font-size: 14pt;
}
